*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Aldrich", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
}

.calculator {
    border-radius: 15px;
    border: 5px solid black;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

#display {
    width: 100%;
    background-color: rgb(225, 155, 155);
    padding: 20px;
    font-size: 2rem;
    text-align: right;
    border: none;
    outline: none;
}

#calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: pink;
}

button {
    width: 100%;
    aspect-ratio: auto;
    border-radius: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgba(255, 0, 162, 0.271);
}

button:active {
    background-color: rgba(226, 43, 205, 0.304);
}

.operator {
    background-color: beige;
}

.operator:hover {
    background-color: rgba(255, 127, 193, 0.727);
}

.operator:active {
    background-color: blue;
}

.clear {
    grid-area:1/1/2/4;
    background-color: orange;
}
.equal {
    grid-column: span 2;
}
